//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 19 00:58:32 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Rx" LOCATE = SITE "P15" LEVEL 1;
COMP "CLK" LOCATE = SITE "P126" LEVEL 1;
COMP "An3" LOCATE = SITE "P44" LEVEL 1;
COMP "An4" LOCATE = SITE "P34" LEVEL 1;
COMP "Bn3" LOCATE = SITE "P46" LEVEL 1;
COMP "Ap3" LOCATE = SITE "P43" LEVEL 1;
COMP "Bn4" LOCATE = SITE "P32" LEVEL 1;
COMP "Ap4" LOCATE = SITE "P35" LEVEL 1;
COMP "Cn3" LOCATE = SITE "P48" LEVEL 1;
COMP "Bp3" LOCATE = SITE "P45" LEVEL 1;
COMP "Cn4" LOCATE = SITE "P29" LEVEL 1;
COMP "Bp4" LOCATE = SITE "P33" LEVEL 1;
COMP "Cp3" LOCATE = SITE "P47" LEVEL 1;
COMP "Cp4" LOCATE = SITE "P30" LEVEL 1;
COMP "E1_3" LOCATE = SITE "P80" LEVEL 1;
COMP "E1_4" LOCATE = SITE "P12" LEVEL 1;
COMP "E2_3" LOCATE = SITE "P81" LEVEL 1;
COMP "E2_4" LOCATE = SITE "P11" LEVEL 1;
COMP "H1_3" LOCATE = SITE "P55" LEVEL 1;
COMP "H1_4" LOCATE = SITE "P24" LEVEL 1;
COMP "H2_3" LOCATE = SITE "P74" LEVEL 1;
COMP "H2_4" LOCATE = SITE "P22" LEVEL 1;
COMP "H3_3" LOCATE = SITE "P78" LEVEL 1;
COMP "H3_4" LOCATE = SITE "P17" LEVEL 1;
COMP "DIR3" LOCATE = SITE "P120" LEVEL 1;
COMP "DIR4" LOCATE = SITE "P121" LEVEL 1;
COMP "reset" LOCATE = SITE "P123" LEVEL 1;
COMP "speed3" LOCATE = SITE "P16" LEVEL 1;
COMP "speed4" LOCATE = SITE "P14" LEVEL 1;
SCHEMATIC END;

