//! **************************************************************************
// Written by: Map P.20131013 on Sun Aug 05 15:49:11 2018
//! **************************************************************************

SCHEMATIC START;
COMP "TX" LOCATE = SITE "P14" LEVEL 1;
COMP "Rx" LOCATE = SITE "P15" LEVEL 1;
COMP "CLK" LOCATE = SITE "P126" LEVEL 1;
SCHEMATIC END;

